/* reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  color: var(--mainblack);
  background-color: var(--bodycolor);
  position: relative;
  font-size: 1.8rem;
}
:root {
  --primarycolor: #6d289d;
  --secandrycolor: #ede9fe;
  --mainwhite: #fff;
  --mainblack: #222;
  --maingray: #7c7c7c;
  --mainspacing: 0.1rem;
  --maintrasition: all 0.3s linear;
  --mainred: #db2777;
  --bodycolor: #f6f6f6;
}
/* header */
.header {
  height: 60px;
  background-color: var(--secandrycolor);
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu {
  max-width: 1170;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.menu_icon {
  color: var(--primarycolor);
  cursor: pointer;
}
.menu_title {
  color: var(--mainblack);
}
.menu_cart {
  color: var(--primarycolor);
  position: relative;
  cursor: pointer;
}
.menu_cart i,
.menu_icon i {
  font-size: 2.5rem;
}
.cart-items {
  position: absolute;
  background-color: var(--mainred);
  color: var(--mainwhite);
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  top: -9px;
  left: -9px;
}

/* body-products */
.product-center {
  width: 100%;
  max-width: 1170px;
  background-color: var(--mainred);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-column-gap: 3rem;
  grid-row-gap: 1.5rem;
}
.products {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.product-image {
  width: 100%;
  min-height: 120px;
}
/* .container {
  max-width: 1400px;
  margin: auto;
  flex-direction:column ;
  align-items: center;
}

/* products */
/* .body-products {
  /* background-color: #eaeaea; */
/* } */
/* .products {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 400px));
  justify-content: center;
  justify-items: center;
} */
/* product */
/* .product {
  background-color: #ffae6d;
  width: 300px;
  height: 300px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  color: #3c4048;
  font-size: 1.8rem;
  margin: 5rem;
}

.product img {
  object-fit: cover;
  height: 200px;
  width: 300px;
}

.product .product_info {
  margin: 1.5rem;
}

.product span:first-child {
  margin-right: 6rem;
}

.btn {
  border-radius: 5px;
  border-style: none;
  background-color: #ffe7cc;
  padding: 0.5rem 2rem;
  margin: 0.2rem;
}  */
